<div class="col-md-12" ng-controller="HomeUserController">
    <div class="x_panel">
        <div class="x_title">
            <h2>Informacion</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="" class="tag">
                                <span>Negocios</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>¿Que te ofrece Telo a tu negocio?</a>
                            </h2>
                            <p class="excerpt">Por medio de Ahórratelo podrás aumentar el número de clientes y fidelizar los que ya tienes, mediante beneficios por consumir en tu negocio.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="" class="tag">
                                <span>Clientes</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>¿Que te ofrece Telo a tus clientes?</a>
                            </h2>
                            <p class="excerpt">Porque queremos que nuestros clientes consuman de forma inteligente, no necesitas gastar más para disfrutar, en Ahórratelo podrán ahorrar mientras compran en sus lugares de preferencia, y además podrán conocer sitios nuevos cerca.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>